html {
    /* background-color: rgba(0, 0, 255, 0.61); */

}

.back {
    width: 100%;
    height: 100vh;
    background-color: bisque;

}

.main {
    height: 600px;
    transform: translate(0, 22%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-img {
    width: 500px;
    height: 400px;
    margin: 15px;
}
img {
    height: 100%;
    width: 100%;
}
.main h1 {
    /* color: white; */
    /* box-shadow: 2px 2px 2px 2px grey; */
}

.main button {
    width: 300px;
    height: 50px;
    background-color: rgba(131, 58, 58, 0.521);
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

@media(max-width : 500px) {
    .main-img {
        width: 430px;
        height: 350px;
    }
}